
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(241, 238, 238);
}

.navButton:hover {
    background-color: white;
    color:black;
}

.active{
    background-color: white;
    color: black;
}


main {
    display:flex;
    border-radius: 15px;
    flex-direction: column;
    width:70vw;
    align-items: flex-start;
    padding:0;
    
    flex:center;
}

.banner {
    justify-self: center;
    display:flex;
    background-image: url(/Images/turkmenImages/turk-banner.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-color: lavender;
    height:200px;
    width:100%;
    margin-bottom: 3em;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  
}

h1 {
    padding:1em;
    color:white;
    font-size: 40px;
    
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    gap: 10px;
}

/* .cityBoxWithTitle {
    border: solid 2px greenyellow;
    padding: 2em;
    margin:0 1em 0 0em;
    flex:1;
    border-radius: 8px;
    background-color:rgba(255, 255, 255,.6);
    background-size: cover;
    color:black;
    font:bolder;
    font-size: larger;

}
.landmarkBoxWithTitle {
    border: solid 2px greenyellow;
    padding: 2em;
    margin:0;
    flex:1;
    border-radius: 8px;
     background-image: url("/Images/turkmenImages/Neutrality.jpg"); 
    background-color:rgba(255, 255, 255,.6);
    background-size: cover;
    font-size: larger;

} */
.cityBoxWithTitle,
.landmarkBoxWithTitle,
.celebrityBoxWithTitle {
    border: solid 2px lightgray;
    padding: 20px;
    flex: 1;
   border-radius: 8px;
    background-color:rgba(255, 255, 255,.6);
    font-size: larger;
 
}
h2{
    margin: 10px 0;
    padding-bottom: 10px;
    font-family:sans-serif;
    border-bottom: 3px solid lightgray;
}
.info-card{
    border-bottom: 1px solid lightgray;

}
.info-card >a {
    text-decoration: none;
    color: #24aa65;
    
}
.info-card >a :hover{
    color:black;
}
/*Image Carousel Css*/
.photoGallery{
    margin-top: 30px;
    padding: 10px;
    max-width: 100%;
}
.imageContainer{
    display: flex;
    max-width: 100%;
    overflow: scroll;
    background-color: transparent;
    gap: 20px;
}

.turkImage{
    height: 300px;
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
}