
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(241, 238, 238);
}

.navigationHeader>nav {
    display:flex;
    justify-content: space-between;
    margin-bottom: 3em;
    width:100%;
       
}

nav {
    display:flex;
    justify-content: space-between;
    margin-bottom: 3em;
    width:100%;
    
}

/* .navButton {
    flex:1;
    min-width: 6em;
    border: solid black 2px;
    border-radius:20px;
    max-width: 3em; 
    display: flex;
    justify-content: center;
}

.navButton:hover {
    background-color: black;
    color: white;
}

.active{
    background-color: black;
    color: white;
} */





/* .navButton:hover {
    background-color: white;
    color:black;
}

.active{
    background-color: white;
    color: black;
} */


main {
    display:flex;
    border-radius: 15px;
    flex-direction: column;
    width:70vw;
    align-items: flex-start;
    padding:0;
    
    flex:center;
}

.banner {
    justify-self: center;
    display:flex;
    background-image: url(/Images/turkmenImages/turk-banner.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-color: lavender;
    height:200px;
    width:100%;
    margin-bottom: 3em;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  
}
.banner2{
    display:flex;
    justify-self: center;
    align-items:center;
    justify-content:center;
    color:#f2f4ff;
}

h1 {
    padding:1em;
    color:white;
    font-size: 40px;
    
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    gap: 10px;
    
}

/* .cityBoxWithTitle {
    border: solid 2px greenyellow;
    padding: 2em;
    margin:0 1em 0 0em;
    flex:1;
    border-radius: 8px;
    background-color:rgba(255, 255, 255,.6);
    background-size: cover;
    color:black;
    font:bolder;
    font-size: larger;

}
.landmarkBoxWithTitle {
    border: solid 2px greenyellow;
    padding: 2em;
    margin:0;
    flex:1;
    border-radius: 8px;
     background-image: url("/Images/turkmenImages/Neutrality.jpg"); 
    background-color:rgba(255, 255, 255,.6);
    background-size: cover;
    font-size: larger;

} */
.cityBoxWithTitle,
.landmarkBoxWithTitle,
.celebrityBoxWithTitle {
    border: solid 2px #f2f4ff;
    padding: 20px;
   /*  margin:0 0 0 1em; */
    flex: 1;
   border-radius: 8px;
    /* background-image: url("/Images/turkmenImages/Kurban_Berdyev.jpg"); */
    background-color:#f2f4ff;
    font-size: larger;
 
}
h2{
    margin: 10px 0;
    padding-bottom: 10px;
    font-family:sans-serif;
    border-bottom: 3px solid lightgray;
    color:#6c756b;
}
.info-card{
    border-bottom: 1px solid lightgray;
    /* box-shadow: 10px 5px 20px black;
    border: solid 2px #000000;
    border-radius: 8px; */

}
.info-card >a {
    text-decoration: none;
    color: #93acb5;
    
    
    /* text-shadow: 0 0 5px #030303, 0 0 3px #93acb5; */
    
    
}
.info-card >a :hover{
    color:black;
}
/*Image Carousel Css*/
.photoGallery{
    margin-top: 30px;
    padding: 10px;
    max-width: 100%;
}
.imageContainer{
    display: flex;
    max-width: 100%;
    overflow: scroll;
    background-color: transparent;
    gap: 20px;
}

.turkImage{
    height: 300px;
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
}