


body {
    display:flex;
    flex-direction: column;
    max-width:70%;
    align-items: flex-start;
    border:solid black 5px;
    margin-left:15%;
}
.logo {
    border: solid #C9D6DF 2px;
    border-radius:20px;
    max-width: 3em;
    margin-bottom:2em;
}

nav {
    display:flex;
    margin-bottom: 1em;
    

}

.navButton {
    border: solid #C9D6DF 2px;
    border-radius:20px;
    max-width: 3em;
    display:flex;
    
}

main {
    display:flex;
    flex-direction: column;
    max-width:100%;
    align-items: flex-start;

}

.banner {
    background-color: lavender;
    height:250px;
    width:100%;
    margin-bottom: 1em;
}

.boxes {
    display: flex;
    border:solid 3px tan;
    justify-content: space-around;
    padding: 2em 2em;
}

.cityBox {
    border: solid 2px greenyellow;
    padding: 2em;

}
.landmarkBox {
    border: solid 2px greenyellow;
    padding: 2em;

}
.celebrityBox {
    display:flex;
    border: solid 2px greenyellow;
    padding: 2em;
    max-width: 27vw;
}