


body {
    display:flex;
    flex-direction: column;
    max-width:70%;
    align-items: flex-start;
    /* border:solid black 5px; */
    margin-left:15%;
}
header {
    display: flex;
    flex-direction: column;
    width:100%;
}
.logo {
    border: solid #C9D6DF 2px;
    border-radius:20px;
    max-width: 3em;
    margin-bottom:2em;
}
.logo p {
    padding-left: .25em;
}

nav {
    display:flex;
    justify-content: space-between;
    margin-bottom: 1em;
    

}

.navButton {
    flex:1;
    min-width: 6em;
    border: solid #C9D6DF 2px;
    border-radius:20px;
    max-width: 3em;
    
    
}

main {
    display:flex;
    flex-direction: column;
    max-width:100%;
    align-items: flex-start;

}

.banner {
    background-color: lavender;
    height:250px;
    width:100%;
    margin-bottom: 1em;
}



.boxes {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.cityBox {
    border: solid 2px greenyellow;
    padding: 2em;
    margin:0 1em 0 0em;
    flex:1;
    border-radius: 8px;

}
.landmarkBox {
    border: solid 2px greenyellow;
    padding: 2em;
    margin:0;
    flex:1;
    border-radius: 8px;

}
.celebrityBox {
    border: solid 2px greenyellow;
    padding: 2em;
    max-width: 27vw;
    margin:0 0 0 1em;
    flex:1;
    border-radius: 8px;
}
