
.logo {
    background-color: aqua;
}

.title {
    background-color: antiquewhite;
}
nav {
    background-color: aquamarine;
}

.banner {
    background-color: lavender;
}

.boxes {
    display: flex;
    border:solid 3px tan;
    justify-content: space-around;
    padding: 2em 2em;
}

.landmarkBox {
    border: solid 2px greenyellow;
    padding: 2em;

}